{% extends 'base(back).html.twig' %}

{% block title %}Calendar
{% endblock %}

{% block body %}
	<div class="col-12">

		<div class="card recent-sales overflow-auto">
			<div class="card-body">
				<div class="form-group"></div>
				<h5 class="card-title">Les événements
				</h5>

			</div>
			<div class="dataTable-container">
				<table class="table table-borderless datatable dataTable-table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Titre</th>
							<th>Début</th>
							<th>Fin</th>
							<th>Description</th>
							<th>Journée</th>
							<th>Couleur de fond</th>
							<th>Couleur bordure</th>
							<th>Couleur du texe</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for calendar in calendars %}
							<tr>
								<td>{{ calendar.id }}</td>
								<td>{{ calendar.title }}</td>
								<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ calendar.description }}</td>
								<td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
								<td>{{ calendar.backgroundColor }}</td>
								<td>{{ calendar.borderColor }}</td>
								<td>{{ calendar.textColor }}</td>
								<td>
									<a href="{{ path('app_calendar_show', {'id': calendar.id}) }}">Afficher</a>
									<a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">Pas d'évenements</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
				<div class="dataTable-bottom">
					{% do calendars.setPageRange(3) %}
					{{knp_pagination_render(calendars,'pagination.html.twig')}}
				</div>
			</div>
			<button class="btn">
				<a href="{{ path('app_calendar_new') }}" class="btn btn-lg btn-secondary">Créer un nouvel événement</a>
			</button>
		</div>


	</div>


</div>{% endblock %}
