{% extends 'base(back).html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
            <tr>
                <th>Journée</th>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Couleur de fond</th>
                <td>{{ calendar.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Bordure</th>
                <td>{{ calendar.borderColor }}</td>
            </tr>
            <tr>
                <th>Couleur Texte</th>
                <td>{{ calendar.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_calendar_index') }}">Retour à la liste</a>

    <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">Modifier</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
